EMAIL_ADDRESS=your_email@gmail.com
EMAIL_APP_PASSWORD=your_gmail_app_password
RECIPIENT_EMAIL=recipient@gmail.com

NOTION_API_KEY=ntn_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_TODO_DATABASE_ID=e62f0bed024b836295c101c4532e1bc3
NOTION_DUEDATE_DATABASE_ID=378f0bed024b806cb0cdcea902abf825

NEWS_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

SUMMARY_PROVIDER=gemini / openai / ollama / local (if AI is not chosen)
GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OLLAMA_MODEL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
